@for (segment of segments(); track $index) {@if (segment.kind === 'text') {<ng-container>{{ segment.text }}</ng-container>} @else if (segment.kind === 'move') {<app-move
        class="move"
        [san]="segment.san"
        [color]="colorOf(segment)"
        format="full"
        [start]="segment.start"
        [prefix]="segment.number"
      />} @else if (segment.kind === 'square') {<span class="square" [appSpot]="{ kind: 'squares', squares: [segment.square] }">{{
        segment.square
      }}</span>} @else if (termLinks()) {<a class="term" [routerLink]="links.glossary()" [fragment]="segment.id">{{
        segment.text
      }}</a>} @else {<app-term [id]="segment.id" [text]="segment.text" />}}
